<!--Matt Will Do!-->

*
{
  margin:0;
  padding:0;
}

html,body
{
  font-family: 'Exo', sans-serif;
  margin:0;
}

body {
  background-image: url(../img/6.jpg);
}

h1
{
	margin:0px;
	width: 100%;
	background-color: rgba(0, 76, 159, 0.7);
	color: white;
	padding-left: 15%;
	position:fixed;
	padding-top: 15px;
	padding-bottom: 15px;
	z-index: 100;
}


.intro
{
	padding-top:60px;
	padding-left:10px;
	padding-bottom:50px;
	color:white;
}
.intro h2
{
  font-size: 70px;
  text-align:center;
}

.intro p
{
  font-size: 25px;
  padding: 10px;
  padding-left:450px;
  width: 69%;
  text-align:left;
}


.content2
{
  margin: 0 auto;
  clear:both;
  padding-top:50px;
  padding-bottom:300px;
  color: white;
  background-color: rgba(255,255,255,0.2);
  text-align:center;
}

.content2 h3
{
  clear:both;
  margin:0 auto;
  text-decoration:underline;
  font-size: 40px;
  width:69%;
  background-color:rgba(255,128,0,0.7);
  border-radius:20px;
  text-align:center;
}


.content2 p
{
  margin:15px auto;
  font-size: 25px;
  width:15%;
  padding-top:75px;
  padding-bottom:75px;
  background-color:rgba(128,0,128,0.7);
  border-radius:12.5px;
}

button
{
  font-size: 20px;
  font-family: 'Noto Sans' ,sans-serif;
  width: 60%;
  padding: 8px;
  margin: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50px;
  transition: all, 0.5s;
  background-color: rgba(0, 76, 159, 0.7);
  color:white;
}

.buttont2 {
  font-size: 20px;
  font-family: 'Noto Sans' ,sans-serif;
  width: 15%;
  padding: 8px;
  margin: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50px;
  transition: all, 0.5s;
  background-color:rgba(255,255,255,0.15);
  padding-top:70px;
  padding-bottom:70px;
}

button:hover
{
  background-color: rgba(0, 76, 159, 0.4);
}

button span
{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after
{
  content: '>>';
  position:absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span
{
  padding-right: 25px;
}

button:hover span:after
{
  opacity: 1;
  right: 0;
}

.hoverable {
  cursor:default;
  color:#000;
  text-decoration:none;
  font-size: 20px;
  font-family: 'Noto Sans' ,sans-serif;
  width: 40%;
  margin-left:50px;
  margin-right:50px;
  margin-top:50px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50px;
  transition: all, 0.5s;
  background-color:rgba(255,255,255,0.3);
  padding:10px;
}
.hoverable .hover {
  display:none;
}
.hoverable:hover .normal {
  display:none;
}
.hoverable:hover .hover {
  display:inline;
}
