*
{
  margin: 0;
}
html,body
{
  font-family: 'Exo', sans-serif;
}
h1
{
  width: 100%;
  background-color: rgba(0, 76, 159, 0.7);
  color: white;
  padding-left: 15%;
  position:fixed;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 100;
}

.topimage
{
 position: fixed;
 max-width: 100%;
 height: auto;
}

.opacity
{
  webkit-filter: opacity(50%);
  filter: opacity(50%);
}

.signup h2
{
  font-size: 70px;
}
.signup p
{
  font-size: 30px;
  padding-bottom: 10px;
}
.signup
{
  background-image: url(../img/2.jpg);
  padding-top: 150px;
  background-repeat: no-repeat;
  padding-bottom: 150px;
  background-size: auto;

}
.signup>p,.signup>h2
{
  text-align: center;
  color: white;
}

.loginfield>h3
{
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 30px;
}

.loginfield>p
{
  font-size: 10px;
}
.loginfield
{
  font-family: 'Noto Sans',sans-serif;
  text-align: center;
  background-color: rgba(255,255,255,0.7);
  margin: 50 auto;
  width: 20%;
  border-radius: 40px;
}
.loginfield ul
{
  padding: 0;
  list-style-type: none;
}

.loginfield li
{
  padding-top: 5px;
}

.loginfield input[type="text"]
{
  border-radius: 5px;
  padding: 8px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  color: rgba(0,0,0,0.7);
}

.loginfield input[type="text"]:focus,
.loginfield input[type="text"].focus
{
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.content1
{
  margin-top: 20px;
  text-align: center;
}

.content1 h2
{
  font-size: 40px;
}

hr
{

  border: none;
  border-radius: 3px;
  background-color: rgba(0,76,159,0.7);
  margin: 10px auto;
  width: 10%;
  height: 3px;
  margin-bottom: 70px;
}

.content1content h3
{
  font-size: 30px;
}
.content1content p
{
  padding: 10px 30px;
  font-size: 20px;
}

.content1content i
{
  color: rgba(0, 173, 208, 1);
  font-size: 7em;
}

.content1content
{
  margin-top: 20px;
  width: 25%;
  float: left;
}

.content2
{
  background-color: rgba(0, 173, 208, 1);
  margin: 0 auto;
  clear:both;
  text-align: center;
  padding: 50px 0;
  color: white;
}
.content2 h2
{
  font-size: 40px;
}

.content2 p
{
  font-size: 25px;
  padding: 10px 50px;
  width: 69%;
}
.content2 i
{
  float: left;
  color: rgba(0, 76, 159, 1);
  width: 30%;
  font-size: 300px;
}
