*
{
  margin: 0;
}

html,body
{
  font-family: 'Exo', sans-serif;
}

h1
{
  text-align: center;
  width: 100%;
  background-color: rgba(0, 76, 159, 0.7);
  color: white;
  position:fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 100;
  font-size: 25px;
}

#logoutbtn
{
  display: inline-block;
  float:right;
  margin-right:5%;
}

#bars
{
  display: inline-block;
  float:left;
  margin-left:5%;
}
