@media screen and (max-width: 400px){


form {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

input[type="text"] {
	width: 80px;
	position: relative ;
	right: 10px;
}

input[type="password"]{
	width:80px;
	position: relative;
	right: 10px;
}

.loginfield{
	padding-right: 70px;
	padding-left: 70px;
}


.loginfield li>button
{
  width: 80px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right:20px;
}

.button span{
	text-align: center;
	position: relative;
	right: 15px;
}

#newacc h3{
	padding-top: 20px;
}

.content1content{
	clear: both;
	margin:auto;
	text-align:center;
}

.content2{
	text-align:center;
}




}
