@media screen and (max-width: 481px){


form {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

input[type="text"] {
	width: 80px;
}

input[type="password"]{
	width:80px;
}

.content1content{
	clear: both;
	
	
}






}
