<!--Matt Will Do!-->

*
{
  margin:0;
  padding:0;
}

html,body
{
  margin:0;
  padding:0;
  font-family: 'Exo', sans-serif;
}

body{
  	background-image: url(../img/3classic.jpg);
    padding-bottom:10px;
}

h1
{
	margin:0px;
	width: 100%;
	background-color: rgba(0, 76, 159, 0.7);
	color: white;
	padding-left: 15%;
	position:fixed;
  padding-top:15px;
  padding-bottom:15px;
  padding-right:15px;
	z-index: 100;
}

.navbarlist
{
  position: fixed;
  margin:0;
  left: 45%;
  z-index: 101;
}

.navbarlist li
{
  list-style-type: none;
  display: inline-block;
  position: relative;
  right: 1%;
  transition: background, 0.5s;
  padding:23px;
}

.navbarlist {
	overflow: hidden;
	width:100%;
}

.navbarlist li a
{
  padding:25px 25px;
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.navbarlist li:hover
{
  background-color: rgba(0, 76, 159, 0.7);
}

nav ul li:hover{
  background-color: rgba(0, 76, 159, 0.7);
}

nav ul ul{
	display: none;
}

nav ul li:hover > ul {
		display: block;
    background-color: rgba(0, 76, 159, 0.7);
	}

nav ul{
  display: inline-table;
  overflow: hidden;
	width:100%;
  position: fixed;
  margin:0;
  left: 45%;
  z-index: 101;
}

nav ul:after {
		content: "";
    clear: both;
    display: block;
	}

nav ul li a {
    padding:25px 25px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  transition: background, 0.5s;
  padding:23px;
}

nav ul li .dropdown-menu li{
  display:block;
  text-align:center;
}

nav ul li .dropdown-menu{
  width:7%;
  text-align:left;
  margin-left:588px;
  margin-top:22px;
}

nav ul{
  margin:0;
  padding:0 0;
}

.intro
{
	padding-top:60px;
	padding-left:10px;
	padding-bottom:50px;
	color:black;
}
.intro h2
{
  font-size: 70px;
  text-align:center;
  color:white;
}

.intro p
{
  font-size: 25px;
  padding-top: 10px;
  padding-left:200px;
  width: 69%;
  text-align:center;
  color:white;
}


.content2
{
  margin: 0 auto;
  clear:both;
  padding:25px;
  color: white;
  text-align:center;
  background-color:rgba(255,255,255,0.3);
  border-radius:15px;
  width:65%;
}

.content2 p
{
  margin:0 auto;
  font-size: 20px;
  width:60%;
  color:black;
  padding:15px;
  text-align:left;
}

.content2 button
{
  font-size: 20px;
  font-family: 'Noto Sans' ,sans-serif;
  width: 60%;
  padding: 8px;
  margin: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50px;
  transition: all, 0.5s;
}

.content2 button:hover
{
  background-color: rgba(30, 172, 253, 1);
}

.content2 button span
{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.content2 button span:after
{
  content: '>>';
  position:absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.content2 button:hover span
{
  padding-right: 25px;
}

.content2 button:hover span:after
{
  opacity: 1;
  right: 0;
}


@media screen
and (max-width: 640px) {
  body {
    width:100%;
  }
  .intro h2 {
    font-size:69px;
    width:100%;
    text-align:center;
  }

  .intro {
    width:95%;
    text-align:center;
  }

  .intro p {
    padding-left:0px;
    text-align:center;
    width:100%;
    font-size:18px;
  }

  .content2 {
    text-align:center;
    padding-top:10px;
    border-radius:5px;
    width:65%;
  }

  .content2 p {
    width:85%;
    font-size:14px;
  }

  button {
    border-radius:10px;
  }
}
